/**
 * layout helpers
 */

 .l-horizontal-list {
 	margin: 0;
 	padding: 0;
 	list-style: none;
	
	li {
		float: left;
	}
 }


/**
 * Main layout: 
 */

.l-container {
	width: $site-max-width;
	padding: 0 per(50);
	margin: 0 auto;
}