/* ==========================================================================
   Site Variables
   ========================================================================== */

/**
 * Dimensions
 */

 $site-max-width: 1124;
 $site-max-width-px: $site-max-width * 1px;
 $site-interior-max-width: 1024;
 $site-interior-max-width-px:  $site-interior-max-width * 1px;


/**
* functions
*/

$browser-context: 16;

@function em($pixels, $context: $browser-context) {
@return #{$pixels/$context}em;
}

@function per($px, $context-width: $site-max-width) {
	@return $px / $context-width * 100%;
}


/**
 * colors
 */

$blue: #00a3e8;
$body-blue: #005d8d;
$dark-blue: $body-blue;
$light-gray: #d1e1e8;



/**
 * fonts 
 */
$font-family: "bryant-web", "Helvetica Neue", Helvetica, Arial, sans-serif;

$font-weight-medium: 500;
$medium-weight: $font-weight-medium;
$med-weight: $font-weight-medium;
$w-med: $font-weight-medium;

$font-weight-light: 300;
$light-weight: $font-weight-light;
$light-weight: $font-weight-light;
$w-light: $font-weight-light;


/**
 * Some defautls
 */
 
* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box; 
}

body {
	font-family: $font-family;
	font-weight: $w-light;
	color: $body-blue;
}

hr {
	border-color: $body-blue;
}