/**
 * Footer 
 */

.main-footer {
	p {
		color: $footer-gray;
		font-size: em(12);
		line-height: 1.4;
		font-weight: $font-weight-medium;
	}
}

.divider {
	padding-left: 10px;
	padding-right: 10px;
}