/**
 * General Page Styles
 */

/**
 * General Content
 */
.copy-panel {
	p,
	li,
	blockquote {
		font-size: em(35);
		line-height: 1.2;
	}
}


.gmg-em-text {
	display: block;
	font-size: em(50, 35);
	line-height: 1.2;
	text-transform: uppercase;
	color: #00a3e8;
	font-weight: 500;
}